<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project default="ssh_transfer" name="Upload a file through SSH">


	<!--ANT 1.7 is required -->
	<!-- FTP Transfer -->
	<target name="ssh_transfer">
		<scp file="<FILE>" todir="<LOGIN>:<PASS>@<HOST>:<DESTINATION_FOLDER>"
			port="<PORT>"
			trust="yes" />

		<COMMANDS>
	</target>
</project>
